
$font-p: 'Merriweather', serif;
$font-s: 'Open Sans', sans-serif;

html{
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
}
html, body, *{
	padding: 0;
	margin: 0;
	line-height: 1.5em;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	width: 100%;
	height: 100%;
}

// Layout & Styles



// @screen 480px
//@screen 768px
//@screen 992px
//@screen > 1200px







//svg rule
.scroll-icon{
			margin-top: 2.5%;

			svg{
				width: 2%;
			}
			.shell{
				fill:none;
				stroke:#FFFFFF;
				stroke-width:3;
			}
			.wheel{
				fill:#FFFFFF;
			}
		}
//nav module
.side-nav{
			list-style-type: none;
			float: right;
			transform: scaleX(-1);
			filter: flipH;

			li{margin-bottom: -.5em}
			a{text-decoration: none;}
			img{
				width: 100%;
			}

			.active{width: 100%; height: 100%;}
			.next{width: 50%; height: 100%;}
			.inactive{width: 25%; height: 100%;}
	}
//modules-hidden
.vision, .studio, .contact, {
	display: none;
}
.nav-pop-out, {
	display: none;
}