html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

html, body, * {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

*, *:before, *:after {
  box-sizing: inherit;
}
<<<<<<< HEAD
=======

body {
  width: 100%;
  max-width: 100%;
  max-width: 100vw;
  background-color: #fff;
}
body .container-fluid {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.nav-pop-out, .side-nav {
  display: none;
}

header {
  background: white;
  color: #141414;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
header a {
  color: #141414;
}
header .logo > *, header .quick-nav li, header .cta-header > *, header .hireMe-btn > *, header .nav-btn {
  display: inline-block;
}
header .logo {
  background: #141414;
  padding: 1% 0 1% 2.5%;
}
header .logo h4 {
  color: white;
  font-family: 'Merriweather', serif;
}
header .logo img {
  width: 20%;
}
header .quick-nav {
  font-style: italic;
}
header .quick-nav ul li {
  margin-right: 20%;
}
header .quick-nav ul > :last-child {
  margin-right: 0;
}
header .cta-header {
  padding-left: 5%;
}
header .cta-header p {
  margin-right: 5%;
}
header .hireMe-btn {
  background: #3cb879;
}
header .row {
  margin: 0;
  padding: 0;
}

.landing {
  background-color: #141414;
  color: white;
  text-align: center;
  margin: 2.47525%;
  padding: 2.5%;
}
.landing .welcome h1, .landing .welcome img {
  margin-bottom: 5%;
}
.landing .cta-main {
  background-color: #ff7c53;
  width: 20%;
  margin: 0 auto 5%;
  padding: 2% 0;
}
.landing .cta-main p {
  text-align: center;
  margin: 0;
}

.vision, .studio, .contact {
  display: none;
}
>>>>>>> parent of c38caab... trying to get the dimensions right
