html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100vh;
  width: 100vw;
}

html, body, * {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Merriweather", serif;
}

.container {
  width: 100vw;
}

header a {
  text-decoration: none;
}
header ul {
  list-style-type: none;
}
header ul li {
  display: inline-block;
  vertical-align: middle;
}
header .logo {
  background: #141414;
  color: white;
}
header .logo a {
  color: white;
}
header .logo img {
  width: 30%;
  margin: 5.5% .5%;
  vertical-align: middle;
}
header .logo img, header .logo h5 {
  display: inline-block;
}
header .quick-nav {
  background: red;
}
header .quick-nav a {
  color: #141414;
}
header .cta-header {
  background: pink;
}
header .cta-header a {
  color: #141414;
}
header .cta-header > * {
  display: inline-block;
}
header .hire-btn {
  background: #3cb879;
}
header .hire-btn a {
  color: #141414;
}

/*--------------------------------------------header End-----------------------------*/
.scroll-icon {
  margin-top: 2.5%;
}
.scroll-icon svg {
  width: 2%;
}
.scroll-icon .shell {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
}
.scroll-icon .wheel {
  fill: #FFFFFF;
}

.side-nav {
  list-style-type: none;
  float: right;
  transform: scaleX(-1);
  filter: flipH;
}
.side-nav li {
  margin-bottom: -.5em;
}
.side-nav a {
  text-decoration: none;
}
.side-nav img {
  width: 100%;
}
.side-nav .active {
  width: 100%;
  height: 100%;
}
.side-nav .next {
  width: 50%;
  height: 100%;
}
.side-nav .inactive {
  width: 25%;
  height: 100%;
}

.vision, .studio, .contact, .scroll-icon, .side-nav, .nav-pop-out {
  display: none;
}
