html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

html, body, * {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

body {
  width: 100vw;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.vision, .studio, .contact {
  display: none;
}

.nav-pop-out, .sidenav {
  display: none;
}

header {
  font-size: 16px;
  font-family: "Merriweather", serif;
  width: 100%;
}
header > * {
  display: inline-block;
}
header .logo {
  background: #141414;
  color: white;
  font-weight: bold;
  width: 16.67%;
  padding: 1.5%;
  text-align: center;
}
header .logo a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
}
header .logo a > * {
  display: inline-block;
}
header .logo img {
  width: 30%;
  vertical-align: middle;
  margin-left: -1.5em;
}
header .quick-nav {
  font-family: "Merriweather", serif;
  font-style: italic;
}
header .quick-nav ul {
  list-style-type: none;
}
header .quick-nav ul li {
  display: inline-block;
}
header .quick-nav a {
  color: #141414;
  text-decoration: none;
}
header .cta-header {
  font-style: italic;
}
header .cta-header > * {
  display: inline-block;
}
header .cta-header .hire-btn {
  background-color: #3cb879;
}
header .cta-header a {
  color: #141414;
  text-decoration: none;
}

.main-module .landing {
  text-align: center;
  background-color: #141414;
  color: white;
  padding: 2.5%;
  margin: 1% 2.5%;
}
