
$font-p: 'Merriweather', serif;
$font-s: 'Open Sans', sans-serif;

html{
	box-sizing: border-box;
	-ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
	height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}
html, body, *{
	padding: 0;
	margin: 0;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
  width: 100%;
  height: 100%;
  font-size: 16px;
	font-family: $font-p;
}
.container{
  width: 100%;
  height: 100%;
  background: white;
}
.row{
  height: 100%;
}
//////////////////////////////////////////////////////////////////Layout & Styles
header{
  width: 100%;
  height: 15%;
  a{
    text-decoration: none;
    height: 100%;
  }

  ul{
    list-style-type: none;
    text-align: center;
    width: 100%;
    height: 100%;
    li{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    :nth-child(2){
      margin: 0 10%;
    }
  }

  .logo{
    background: #141414;
    height: 100%;
    width: 100%;
    padding-left: 3.5%;
    img, p{
      display: inline-block;
      vertical-align: middle;
    }
    a{
      height: 100%;
      display: block;
      color: white;
    }
    img{
      width: 25%;
      height: 100%;
    }
    p{
      font-size: 18px;
      font-weight: bold;
    }
  }

  .quick-nav{
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    //padding-top: 2.5%;
    a{
      color: #141414;
    }
  }

  .header-cta{
    height: 100%;
    width: 100%;
    margin-left: 21.5% !important;
    font-size: 14px;
    font-style: italic;
    p, a{
      display: inline-block;
      text-align: center;
    }
    p{
      width: 40%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    a{
      width: 60%;
      color: #141414;
      background: #3cb879;
      p{
        width: 80%;
      }
    }
  }

  .nav-btn{
    height: 100%;
    width: 100%;
    margin-left: 2%;
    text-align: center;
    img{
      width: 50%;
      height: 100%;
    }
  }
}
/////////////////////////////////////////////////////////////////end header
.main-wrapper{
  width: 100%;
  height: 85%;
  padding: 2.5%;
}

.main-module{
  width: 100%;
  height: 100%;
  background: #141414;
  position: relative;
}
//////////////////////////////////////////////////////////////////main module end
.landing{
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding-top: 5%;

  .content{
    h1{
      width: 80%;
      margin: 0 auto;
    }
    h1, img{
      margin-bottom: 3%;
    }
    img{
      width: 6.6%;
      max-width: 100px;
      min-width: 80px;
    }
  }

  .landing-cta{
    background: #ff7c53;
    width: 15%;
    height: 15%;
    margin: 0 auto;

    a{
      height: 100%;
      width: 100%;
      color: #141414;
      text-decoration: none;
      display: block;
    }

    p{
      font-style: italic;
      font-weight: 600;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .scroll-icon{
  margin-top: 3.5%;
  position: relative;

    svg{
      width: 2%;
      min-width: 23px;
    }
    .shell{
      fill:none;
      stroke:#FFFFFF;
      stroke-width:3;
    }
    .wheel{
      fill:#FFFFFF;
      animation: myScroll 1.5s infinite;
    }
  }
}
.vision{
  padding-top: 3.5%;
  font-family: $font-p;

  .content{
    position: relative;
    width: 100%;

    .vision-header{
      float: right;
      color: white;
      font-family: $font-p;
      font-size: 5.625em;
      font-weight: 800;
      font-weight: bold;
      position: absolute;
      top: 12%;
      left: 25%;
      width: 63%;
    }
    .vision-body-text{
      color: white;
      font-family: $font-s;
      font-size: 1.25em;
      width: 55%;
      position: absolute;
      top: 63%;
      left: 26.5%;
      line-height: 1.5;
    }
    img{
      margin-left: 6.5%;
      min-width: 395px;
      width: 26%;
    }
  }
  .scroll-icon{
    transform: translateY(-68%);
    text-align: center;
    position: relative;

    svg{
      width: 2%;
      min-width: 23px;
    }
    .shell{
      fill:none;
      stroke:#FFFFFF;
      stroke-width:3;
    }
    .wheel{
      fill:#FFFFFF;
      animation: myScroll 1.5s infinite;
    }
  }
}
.studio{
  font-family: $font-p;
  position: relative;
  width: 100%;
  height: 100%;


  .content{
    position: relative;
    width: 100%;
    height: 100%;


    .aside{
      width: 40%;
      height: 100%;
      min-height: 100%;
      display: inline-block;
      vertical-align: middle;

      .aside-img-wrapper{
        width:100%;
        height: 100%;
        text-align: center;
      }

      img{
        width: 85%;
        min-width: 395px;
        height: 100%;
        max-height: 511px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .main{
      width: 59.5%;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      
      .studio-main-wrapper{
        width: 100%;
        height: 100%;

        .studio-header-main{
          float: right;
          color: white;
          font-family: $font-p;
          font-size: 5.625em;
          font-weight: 800;
          position: absolute;
          top: 25%;
          left: 19%;
          width: 75%;
        }
        .studio-body-text-main{
          color: white;
          font-family: $font-s;
          font-weight: 400;
          font-size: 1.25em;
          width: 48%;
          position: absolute;
          top: 47%;
          left: 33%;
          line-height: 1.5;
          text-align: left;
        }
      }
    } 
  }
  .vertical-line-top, .vertical-line-bottom{
    position: absolute;
    left: 50%;
    height: 25%;
    max-width: 3px;
  }
  .vertical-line-top{
    top: 1%;
  }
  .vertical-line-bottom{
    bottom: 1%;
  }

  .studio-side-nav{
    font-family: $font-p;
    font-size: 1.4em;
    font-weight: 800;
    position: absolute;
    top: 50%;
    right: 1.5%;
    transform: translateY(-50%);
    color: white;
    text-align: right;

    ul{
      list-style-type: none;
    }
    a{
      color: white;
      text-decoration: none;
      transition: .3s linear;
    }
    a:hover{
      color: #ffb253;
    }
  }
}

.contact{
  width: 100%;
  height: 100%;

  .content{
    width: 100%;
    height: 100%;

    .aside{
      width: 40%;
      height: 100%;
      min-height: 100%;
      background: #3d81a9;
      display: inline-block;

      .aside-img-wrapper{
        width:100%;
        height: 100%;
        text-align: center;
      }

      img{
        width: 85%;
        max-height: 90%;
        min-height: 328px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .main{
      float: right;
      font-family: $font-p;
      color: white;
      text-align: center;
      width: 59.5%;
      height: 100%;
      vertical-align: top;

      .contact-main-wrapper{
        width: 100%;
        height: 100%;
        min-height: 100%;
      }
      .contact-vertical-center{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      .contact-header{
        font-size: 5.625em;
      }
      .contact-cta-text{
        font-size: 1.25em;
      }

      h1{
        font-weight: 800;
        font-weight: bold;
      }

      .contact-cta{
        width: 43.34%;
        height: 100%;
        min-width: 258px;
        min-height: 96px;
        font-family: $font-s;
        margin: 6% auto;

        a{
          background: #ff7c53;
          color: #141414;
          display: block;
          text-decoration: none;
          width: 100%;
          height: 100%;
          max-height: 96px;
          min-height: 96px;
        }
        p{
          font-weight: 800;
          font-weight: bold;
          position: relative;
          top: -100%;
          transform: translateY(100%);
          width: 100%;
        }
      }

      .social-wrapper-contact{
        ul{
          list-style-type:none;
          
          li{
            display: inline-block;
            margin: 0 2.5%;
          }
          :first-child{margin-left: 0;}
          :last-child{margin-right: 0;}
        }

        a{
          display: block;
          img{

          }
        }
      }
    }
  }
}
//////////////////////////////////////////////////////////////////svg rules


@keyframes myScroll {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-10%);}
  60% {-moz-transform: translateY(10%);}
}

//////////////////////////////////////////////////////////////nav module
.side-nav{
  list-style-type: none;
  position: absolute;
  top: 5.5%;
  right: 1.5%;
  transform: scaleX(-1);
  //filter: flipH;


  ul{list-style-type: none; text-align: left;}
  li{margin-bottom: -.5em;}
  a{text-decoration: none;}
  img{width: 100%; height: 100%;}

  .active{width: 100%; height: 100%;}
  .next{width: 50%; height: 100%;}
  .inactive{width: 25%; height: 100%; min-height: 3px;}
	}
////////////////////////////////////////////////////////////modules-hidden
.hidden{
  display: none;
}
////////////////////////////////////////////////////////////
/*
svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-236 227 27 48" style="enable-background:new -236 227 27 48;" xml:space="preserve")
              path.shell(d="M-223,228.5h1c6.4,0,11.5,5.1,11.5,11.5v22c0,6.4-5.1,11.5-11.5,11.5h-1c-6.4,0-11.5-5.1-11.5-11.5v-22 C-234.5,233.6-229.4,228.5-223,228.5z")
              path.wheel(d="M-223.5,243.5h2c2.2,0,4,1.8,4,4v7c0,2.2-1.8,4-4,4h-2c-2.2,0-4-1.8-4-4v-7 C-227.5,245.3-225.7,243.5-223.5,243.5z")
*/
////////////////////////////////////////////////////////////media querries
@media screen and (max-width: 1500px) {
  .landing{
    .landing-cta{
      min-width: 228px;
    }
  }

  .vision {
    .content{
      .vision-body-text{
        top: 60%;
      }
    }
  }

  .studio{
    .vertical-line-top, .vertical-line-bottom{
      max-height: 100px;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 31%;
            top: 20%;
            width:50%;
          }
          .studio-body-text-main{
            top: 52%;
            width: 48%;
          }
        }
      }
    }
  }

}
@media screen and (max-width: 1450px) {
  .vision {
    .content{
      .vision-header{
        top: 15.5%;
        left: 25%;
      }
      .vision-body-text{
        top: 60.5%;
      }
    }
  }

  .contact{
    .content{
      .main{
        .contact-cta{
          .contact-cta-text{
            position: relative;
            top: -135%;
            transform: translateY(135%);
          }
        }
      }
    } 
  }

}
@media screen and (max-width: 1400px) {
  .landing {
    padding-top: 6%;
  }

  .vision {
    .content{
      .vision-header{
        top: 15%;
        left: 26%;
      }
      .vision-body-text{
        top: 60%;
      }
    }
  }
  .contact{
    .content{
      .main{
        .contact-cta{
          margin: 8% auto;
        }
      }
    }
  }

}
@media screen and (max-width: 1350px) {
  .vision {
    .content{
      .vision-header{
        top: 15%;
        left: 25%;
      }
      .vision-body-text{
        top: 58%;
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .landing{
    padding-top: 7%;
  }

  .vision {
    .content{
      .vision-header{
        top: 16%;
        left: 25.5%;
      }
      .vision-body-text{
        top: 59%;
        left: 26.5%;
      }
    }
  }
  .studio{
    .vertical-line-top, .vertical-line-bottom{
      max-height: 100px;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 30.5%;
            top: 21%;
            width:50%;
          }
          .studio-body-text-main{
            top: 52%;
            left: 32%;
            width: 48%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .landing{
    padding-top: 8%;
  }

  .vision {
    padding-top: 4%;

    .content{
      .vision-header{
        top: 17%;
        left: 25.5%;
      }
      .vision-body-text{
        top: 60%;
        left: 26.5%;
      }
    }
  }
  .studio{
      .vertical-line-top, .vertical-line-bottom{
        max-height: 100px;
      }

      .content{
        .main{
          .studio-main-wrapper{
            .studio-header-main{
              left: 29.5%;
              top: 22%;
              width:50%;
            }
            .studio-body-text-main{
              top: 52%;
              left: 31%;
              width: 48%;
            }
          }
        }
      }
    }

  .contact{
    .content{
      .main{
        .contact-cta{
          margin: 10% auto;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .landing {
    padding-top: 9%;
  }

  .vision {
    padding-top: 5%;

    .content{
      .vision-header{
        top: 17.5%;
        left: 25.5%;
      }
      .vision-body-text{
        top: 58%;
        left: 26.5%;
      }
    }
  }

  .studio{
      .vertical-line-top, .vertical-line-bottom{
        max-height: 100px;
      }

      .content{
        .main{
          .studio-main-wrapper{
            .studio-header-main{
              left: 28.5%;
              top: 23%;
              width:50%;
            }
            .studio-body-text-main{
              top: 52%;
              left: 30%;
              width: 48%;
            }
          }
        }
      }
    }

}
@media screen and (max-width: 1150px) {
  .landing{
    padding-top: 10%;
  }
  .vision {
    padding-top: 5%;

    .content{
      .vision-header{
        top: 18%;
        left: 25.5%;
      }
      .vision-body-text{
        top: 58.5%;
        left: 26.5%;
      }
    }
  }

  .studio{
      .vertical-line-top, .vertical-line-bottom{
        max-height: 100px;
      }

      .content{
        .main{
          .studio-main-wrapper{
            .studio-header-main{
              left: 27.5%;
              top: 24.5%;
              width:50%;
            }
            .studio-body-text-main{
              top: 53.5%;
              left: 29.5%;
              width: 48%;
            }
          }
        }
      }
    }

}
@media screen and (max-width: 1100px) {
  .landing{
    padding-top: 11%;
  }

  .vision {
    padding-top: 5.5%;

    .content{
      .vision-header{
        top: 18.5%;
        left: 25%;
      }
      .vision-body-text{
        top: 56.5%;
        left: 26%;
      }
    }
  }
  .studio{
    .vertical-line-top, .vertical-line-bottom{
      max-height: 100px;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 26.5%;
            top: 25.5%;
            width:50%;
          }
          .studio-body-text-main{
            top: 54.5%;
            left: 28.5%;
            width: 48%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .landing{
    padding-top: 12%;
  }

  .vision{
    padding-top: 5.85%;

    .content{
      .vision-header{
        top: 19%;
        left: 25%;
      }
      .vision-body-text{
        top: 56%;
        left: 26%;
      }
    }
     .scroll-icon{
      transform: translateY(-50%);
    }
  }

  .studio{
    .vertical-line-top, .vertical-line-bottom{
      max-height: 100px;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 25.5%;
            top: 26.5%;
            width:50%;
          }
          .studio-body-text-main{
            top: 55.5%;
            left: 27.5%;
            width: 48%;
          }
        }
      }
    }
  }

  .contact{
    .content{
      .main{
        .contact-cta{
          margin: 10% auto;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .landing{
    padding-top: 13%;
  }

  .vision{
    padding-top: 6.5%;

    .content{
      .vision-header{
        top: 21.5%;
        left: 25%;
        width: 65%;
      }
      .vision-body-text{
        top: 55%;
        left: 26.5%;
      }
    }
  }

  .studio{
    .vertical-line-top, .vertical-line-bottom{
      max-height: 100px;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 24.5%;
            top: 26.5%;
            width:50%;
          }
          .studio-body-text-main{
            top: 55.5%;
            left: 26.5%;
            width: 48%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px){

  .studio{
    .vertical-line-top, .vertical-line-bottom{
      max-height: 100px;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 23.5%;
            top: 27.5%;
            width:50%;
          }
          .studio-body-text-main{
            left: 25.5%;
            top: 56.5%;
            width: 48%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header{
    .logo{
      padding-left: 2%;
    }
    .quick-nav{
      :nth-child(2){
      margin: 0 5%;
      }
    }

    .header-cta{
      p{
        width: 50%;
      }
      a{
        width: 50%;
        color: #141414;
        background: #3cb879;
        p{
          width: 100%;
        }
      }
    }
  }
  
  .vision{
    padding-top: 7.5%;

    .content{
      .vision-header{
        top: 25%;
        left: 25%;
        width: 65%;
      }
      .vision-body-text{
        top: 56.5%;
        left: 26.5%;
        width: 50%;
      }
      img{
        margin-left: 9.5%;
      }
    }
  }

  .studio{
    .vertical-line-top, .vertical-line-bottom{
      max-height: 100px;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 21.5%;
            top: 27.5%;
            width:50%;
          }
          .studio-body-text-main{
            left: 23.5%;
            top: 56.5%;
            width: 48%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .landing{
    padding-top: 14%;
  }

  .studio{
    .vertical-line-top, .vertical-line-bottom{
      max-height: 100px;
    }

    .content{
      .main{
        width: 0;
        .studio-main-wrapper{
          .studio-header-main{
            left: 20%;
            top: 27.5%;
            width:50%;
          }
          .studio-body-text-main{
            left: 22%;
            top: 56.5%;
            width: 48%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header{
    .logo{
      padding-left: 1%;
    }
    .quick-nav{
      font-size: 13px;
      :nth-child(2){
      margin: 0 5%;
      }
    }

    .header-cta{
      p{
        width: 50%;
      }
      a{
        width: 50%;
        color: #141414;
        background: #3cb879;
        p{
          width: 100%;
        }
      }
    }
  }

  .landing{
    padding-top: 15%;
    
    .content{
      h1, img{
        margin-bottom: 4%;
      }
    }
    .scroll-icon svg{
      margin-top: 3.5%;
    }
  }

  .vision{
    padding-top: 10%;

    .content{
      .vision-header{
        top: 25.5%;
        left: 23.5%;
        width: 66.5%;
      }
      .vision-body-text{
        top: 57%;
        left: 25%;
        width: 50%;
      }
      img{
        margin-left: 10.5%;
      }
    }
  }
  .studio{
    .vertical-line-top, .vertical-line-bottom{
      max-height: 100px;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 17.5%;
            top: 27.5%;
            width:50%;
          }
          .studio-body-text-main{
            left: 19.5%;
            top: 56.5%;
            width: 48%;
          }
        }
      }
    }
  }

  .contact{
    .content{
      .main{
        .contact-cta{
          margin: 12% auto;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .vision{
    padding-top: 9.5%;

    .content{
      .vision-header{
        top: 20%;
        left: 23.5%;
        width: 60%;
      }
      .vision-body-text{
        top: 56%;
        left: 25%;
        width: 50%;
      }
      img{
        margin-left: 19%;
        min-width: 400px;
      }
    }
     .scroll-icon{
      transform: translateY(15%);
    }
  }

  .studio{
    .vertical-line-top, .vertical-line-bottom{
      display: none;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 16.5%;
            top: 28.5%;
            width:50%;
          }
          .studio-body-text-main{
            left: 18.5%;
            top: 57.5%;
            width: 48%;
          }
        }
      }
    }
  }

}
@media screen and (max-width: 700px) {
  header{

    .logo{
      width: 100%;
      padding-left: 3.5%;
      p{
        font-size: 24px;
      }
      img{
        width: 15%;
      }
    }
    .quick-nav{
        font-size: 13px;
        :nth-child(2){
        margin: 0 5%;
        }
      }

    .header-cta,{
      display: none;
    }
    .nav-btn{
      padding: 0;

      img{
        width: 50%;
      }
    }
  }
  .landing{
    padding-top: 17%;
  }

  .vision{
    padding-top: 12.5%;

    .content{
      .vision-header{
        top: 20%;
        left: 25%;
        width: 66%;
      }
      .vision-body-text{
        top: 58%;
        left: 25%;
        width: 50%;
      }
      img{
        margin-left: 20.5%;
        min-width: 375px;
      }
    }
    .scroll-icon{
      transform: translateY(15%);
    }
  }

  .studio{
    .vertical-line-top, .vertical-line-bottom{
      display: none;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 15.5%;
            top: 29.5%;
            width:50%;
          }
          .studio-body-text-main{
            left: 17.5%;
            top: 58.5%;
            width: 48%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 675px) {
  .vision{
    padding-top: 13%;
  }
}

@media screen and (max-width: 650px) {
  .landing{
    padding-top: 18%;
  }

  .vision{
    padding-top: 13.5%;

    .content{
      .vision-header{
        left: 20%
      }

      .vision-body-text{
        top: 60%;
        left: 20%;
        width: 70%;
      }
      img{
        margin-left: 18%;
      }
    }

    .scroll-icon{
    transform: translateY(30%);

      svg{
        width: 3.5%;
      }
    }
  }

  .studio{
    .vertical-line-top, .vertical-line-bottom{
      display: none;
    }

    .content{
      .main{
        .studio-main-wrapper{
          .studio-header-main{
            left: 15%;
            top: 30.5%;
            width:50%;
          }
          .studio-body-text-main{
            left: 17%;
            top: 59%;
            width: 48%;
          }
        }
      }
    }
    .studio-side-nav{
    font-family: $font-p;
    font-size: 1.4em;
    font-weight: 800;
    position: absolute;
    top: 25%;
    right: 1.5%;
    transform: translateY(-25%);
    color: white;
    text-align: right;

    ul{
      list-style-type: none;
    }
    a{
      color: white;
      text-decoration: none;
      transition: .3s linear;
    }
    a:hover{
      color: #ffb253;
    }
  }
  }

}
@media screen and (max-width: 600px) {
  header{
    .quick-nav{
      display: none;
    }
  }

  .landing{
    padding-top: 19%;

    .content{
      h1, img{
        margin-bottom: 5%;
      }
    }
    .scroll-icon svg{
      margin-top: 4%;
    }
  }

  .vision{
    padding-top: 16%;

    .content{
      img{
        margin-left: 16%;
      }
      .vision-header{
        width: 70%;
        top:16%;
        left:21%;
      }
      .vision-body-text{
        width: 62%;
        top: 62%;
        left: 21%;
      }
    }

    .scroll-icon{
    transform: translateY(40%);

      svg{
        width: 4%;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .landing{
    padding-top: 22%;

    .content{
      h1, img{
        margin-bottom: 6%;
      }
    }
    .scroll-icon svg{
      margin-top: 5%;
    }
  }

  .vision{
    padding-top: 22%;

    .content{
      .vision-header{
        width: 70%;
        top: 16%;
        left: 21.5%;
      }
      .vision-body-text{
        width: 62%;
        top: 60%;
        left: 21%;
      }
      img{
        margin-left: 13%;
        min-width: 350px;
      }
    }

    .scroll-icon{
    transform: translateY(25%);
    }
  }

  .contact{
    .content{
      .main{
        .contact-cta{
          min-width: 248px;
          margin: 13.5% auto;
        }
      }
    }
  }
}
@media screen and (max-width: 515px) {

  .vision{
    padding-top: 22.5%;

    .content{
      .vision-header{
        width: 70%;
        top: 13%;
        left: 21.5%;
      }
      .vision-body-text{
        width: 70%;
        top: 65%;
        left: 21%;
      }

      img{
        margin-left: 11.5%;
      }
    }

    .scroll-icon{
    transform: translateY(30%);
    }
  }

}
@media screen and (max-width: 500px) {

  .landing{
    padding-top: 25%;
  }

 .vision{
    padding-top: 23%;

    .content{
      .vision-header{
        width: 70%;
        top: 12%;
        left: 21%;
      }
      .vision-body-text{
        width: 70%;
        top: 66%;
        left: 21%;
      }

      img{
        margin-left: 11.5%;
      }
    }

    .scroll-icon{
    transform: translateY(75%);
    }
  }

  .contact{
    .content{
      .aside{
        width: 100%;
        height: 20%;
        min-height: 20%;
        max-height: 20%;

        .aside-img-wrapper{
          img{
            min-height: 100px;
            max-height: 100px;
          }
        }
      }
      .main{
        float: none;
        width: 100%;
        height: 80%;
      }
    }
  }
}
@media screen and(max-width: 475px){
  .vision{
    padding-top: 25%;

    .content{
      .vision-header{
        width: 70%;
        top: 12%;
        left: 21%;
      }
      .vision-body-text{
        width: 70%;
        top: 66%;
        left: 21%;
      }

      img{
        margin-left: 11.5%;
        min-width: 340px;
      }
    }

    .scroll-icon{
    transform: translateY(75%);
    }
  }
}
@media screen and (max-width: 450px) {
  .landing{
    
  }

  .vision{
    padding-top: 29%;

    .content{
      .vision-header{
        width: 70%;
        top: 10%;
        left: 15%;
      }
      .vision-body-text{
        width: 75%;
        top: 68%;
        left: 15%;
      }

      img{
        margin-left: 10%;
        min-width: 330px;
      }
    }

    .scroll-icon{
    transform: translateY(100%);

      svg{
        min-width: 20px;
      }
    }
  }
}
@media screen and (max-width: 409px) {
  .landing{
    padding-top: 30%;
  }

  .vision{
    padding-top: 32%;

    .content{
      .vision-header{
        width: 70%;
        top: 10%;
        left: 10%;
      }
      .vision-body-text{
        width: 80%;
        top: 70%;
        left: 10%;
      }

      img{
        margin-left: 6%;
        min-width: 315px;
      }
    }

    .scroll-icon{
    transform: translateY(150%);

      svg{
        min-width: 20px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .vision{
    padding-top: 34%;

    .content{
      .vision-header{
        width: 70%;
        top: 10%;
        left: 10%;
      }
      .vision-body-text{
        width: 80%;
        top: 72%;
        left: 10%;
      }

      img{
        margin-left: 5%;
        min-width: 300px;
      }
    }

    .scroll-icon{
    transform: translateY(200%);

      svg{
        min-width: 20px;
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .landing{
    padding-top: 35%;

    .content{
      h1, img{
        margin-bottom: 8%;
      }
    }
    .scroll-icon svg{
      margin-top: 7%;
    }
  }

  .vision{
    padding-top: 40%;

    .content{
      .vision-header{
        width: 70%;
        top: 10%;
        left: 8%;
      }
      .vision-body-text{
        width: 90%;
        top: 80%;
        left: 8%;
      }

      img{
        margin-left: 4%;
        min-width: 265px;
      }
    }

    .scroll-icon{
    transform: translateY(310%);

      svg{
        min-width: 20px;
      }
    }
  }
  .contact{
    .content{
      .main{
        .social-wrapper-contact{
          ul{
            list-style-type:none;
            
            li{
              display: inline-block;
              margin: 0 3.5%;
            }
            :first-child{margin-left: 0;}
            :last-child{margin-right: 0;}
          }
        }
      }
    }
  }
}
//////////////////////////////////////////////////////// end Media css