<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="Css/mystyles.css" type="text/css")
	link(rel="stylesheet", href="Css/skeleton.css" type="text/css")
	script(src="https://use.fontawesome.com/fc9ea1b824.js")

	link(href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet")


	title LunarCube Studios
body
	.container
		header
			.row
				.logo.three.columns
					a(href="#")
						img(src="assets/logo.svg", alt="LunarCube Logo in the top left corner.")
						p LunarCube
				.quick-nav.three.columns
					ul
						li
							a(href="#") Portfolio
						li
							a(href="#")	Github
						li
							a(href="#")	Blog
				.header-cta.offset-by-two.columns.three.columns
					p Got Work?
					a(href="#"): p Hire Me!
				.nav-btn.one.column
					a(href="#"): img(src="assets/burger-btn.svg", alt="burger nav btn")

		.main-wrapper
			.main-module
				.landing.hidden
					.content
						h1 Take The Day. Design Your Life.
						img(src="assets/logo.svg", alt="LunarCube Logo")
					.landing-cta
						a(href="#"): p Get Started
					.scroll-icon
						svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-236 227 27 48" style="enable-background:new -236 227 27 48;" xml:space="preserve")
							path.shell(d="M-223,228.5h1c6.4,0,11.5,5.1,11.5,11.5v22c0,6.4-5.1,11.5-11.5,11.5h-1c-6.4,0-11.5-5.1-11.5-11.5v-22 C-234.5,233.6-229.4,228.5-223,228.5z")
							path.wheel(d="M-223.5,243.5h2c2.2,0,4,1.8,4,4v7c0,2.2-1.8,4-4,4h-2c-2.2,0-4-1.8-4-4v-7 C-227.5,245.3-225.7,243.5-223.5,243.5z")

				.vision.hidden
					.content
						img(src="assets/vision-icon.svg", alt="vision icon")
						h1.vision-header Simply Creative. Unique &amp; Functional.
						p.vision-body-text Here at LunarCube, we work to promote your brand through expressive unique design and an intuitively engaging  user interface. We work with you to interpret your ideas and manifest them as your creative vision.

					.scroll-icon
						svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-236 227 27 48" style="enable-background:new -236 227 27 48;" xml:space="preserve")
							path.shell(d="M-223,228.5h1c6.4,0,11.5,5.1,11.5,11.5v22c0,6.4-5.1,11.5-11.5,11.5h-1c-6.4,0-11.5-5.1-11.5-11.5v-22 C-234.5,233.6-229.4,228.5-223,228.5z")
							path.wheel(d="M-223.5,243.5h2c2.2,0,4,1.8,4,4v7c0,2.2-1.8,4-4,4h-2c-2.2,0-4-1.8-4-4v-7 C-227.5,245.3-225.7,243.5-223.5,243.5z")

				.studio
					img.vertical-line-top(src="assets/vertical-line.svg", alt="top vertical line")

					.content
						img.studio-logo-icon-main(src="assets/studio-main-logo.svg", alt="studio icon")
						h1.studio-header-main Design &amp; Devolopment
						p.studio-body-text-main LunarCube studios is a front-end design and development studio based in the United States. We specialize in creating  uniquely dynamic websites that are both responsively expressive and engaging. Pulling the user into an expereience as well emmersing them in your brand.

					img.vertical-line-bottom(src="assets/vertical-line.svg", alt="top vertical line")


					.studio-side-nav
						ul
							li
								a(href="#") Studio
							li
								a(href="#") Skills
							li
								a(href="#") Process


				.contact.hidden
					.content
						.aside
							.aside-img-wrapper
								img.contact-icon(src="assets/contact-icon.svg", alt="contact logo")
						.main
							.contact-main-wrapper
								.contact-vertical-center
									h1.contact-header Contact Me:

									.contact-cta
										a(href="#")
											p.contact-cta-text LunarCube@Gmail.com

									.social-wrapper-contact
										ul
											li
												a(href="#"): img(src="assets/twitter-icon.svg", alt="twitter logo icon")
											li
												a(href="#"): img(src="assets/facebook-icon.svg", alt="facebook logo icon")
											li
												a(href="#"): img(src="assets/linkedin-icon.svg", alt="linkedin logo icon")
											li
												a(href="#"): img(src="assets/dribble-icon.svg", alt="dribble logo icon")

				.side-nav
					ul
						li
							a(href="#"): img.active(src="assets/line.svg", alt="active nav line")
						li
							a(href="#"): img.next(src="assets/line.svg", alt="next nav line")
						li
							a(href="#"): img.inactive(src="assets/line.svg", alt="inactive nav line")
						li
							a(href="#"): img.inactive(src="assets/line.svg", alt="inactive nav line")

					




	script(type="text/javascript" src="js/jquery.js")
	script(type="text/javascript" src="js/myjavascript.js")
	script(type="text/javascript" src="js/flowtype.js")
	script(type="text/javascript" src="js/enquire.js")
