<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="Css/mystyles.css" type="text/css")
	link(rel="stylesheet", href="Css/skeleton.css" type="text/css")
	link(href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet")


	title LunarCube Studios
body
	.container
		header
			.row
				.logo.three.columns
					a(href="#")
						img(src="assets/logo.svg", alt="LunarCube Logo in the top left corner.")
						p LunarCube
				.quick-nav.three.columns
					ul
						li
							a(href="#") Portfolio
						li
							a(href="#")	Github
						li
							a(href="#")	Blog
				.header-cta.offset-by-two.columns.three.columns
					p Got Work?
					a(href="#"): p Hire Me!
				.nav-btn.one.column
					a(href="#"): img(src="assets/burger-btn.svg", alt="burger nav btn")

		.main-wrapper
			.main-module
				.landing
					.content
						h2 Take The Day. Design Your Life.
						img(src="assets/logo.svg", alt="LunarCube Logo")
					.landing-cta
						a(href="#"): p Get Started
					.scroll-icon
						svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-236 227 27 48" style="enable-background:new -236 227 27 48;" xml:space="preserve")
							path.shell(d="M-223,228.5h1c6.4,0,11.5,5.1,11.5,11.5v22c0,6.4-5.1,11.5-11.5,11.5h-1c-6.4,0-11.5-5.1-11.5-11.5v-22 C-234.5,233.6-229.4,228.5-223,228.5z")
							path.wheel(d="M-223.5,243.5h2c2.2,0,4,1.8,4,4v7c0,2.2-1.8,4-4,4h-2c-2.2,0-4-1.8-4-4v-7 C-227.5,245.3-225.7,243.5-223.5,243.5z")

				.vision
					.content
						img(src="assets/vision-icon.svg", alt="vision icon")
						h1 Simply Creative. Unique &amp; Functional.
						p Here at LunarCube, we work to promote your brand through expressive unique design and an intuitively engaging  user interface. We work with you to interpret your ideas and manifest them as your creative vision.

					.scroll-icon
						svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-236 227 27 48" style="enable-background:new -236 227 27 48;" xml:space="preserve")
							path.shell(d="M-223,228.5h1c6.4,0,11.5,5.1,11.5,11.5v22c0,6.4-5.1,11.5-11.5,11.5h-1c-6.4,0-11.5-5.1-11.5-11.5v-22 C-234.5,233.6-229.4,228.5-223,228.5z")
							path.wheel(d="M-223.5,243.5h2c2.2,0,4,1.8,4,4v7c0,2.2-1.8,4-4,4h-2c-2.2,0-4-1.8-4-4v-7 C-227.5,245.3-225.7,243.5-223.5,243.5z")
				.side-nav
					ul
						li
							a(href="#"): img.active(src="assets/line.svg", alt="active nav line")
						li
							a(href="#"): img.next(src="assets/line.svg", alt="next nav line")
						li
							a(href="#"): img.inactive(src="assets/line.svg", alt="inactive nav line")
						li
							a(href="#"): img.inactive(src="assets/line.svg", alt="inactive nav line")

					




	script(type="text/javascript" src="js/jquery.js")
	script(type="text/javascript" src="js/myjavascript.js")
	script(type="text/javascript" src="js/enquire.js")
