<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="Css/mystyles.css" type="text/css")
	title Flat-1-Demo
body




	
	script(type="text/javascript" src="js/jquery.js")
	script(type="text/javascript" src="js/myjavascript.js")