<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="Css/mystyles.css" type="text/css")
	link(rel="stylesheet", href="Css/skeleton.css" type="text/css")
	link(href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet")


	title LunarCube Studios
body
	.container




	script(type="text/javascript" src="js/jquery.js")
	script(type="text/javascript" src="js/myjavascript.js")
